@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

html,body {
 overflow: hidden; 
}  

body {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  background: radial-gradient(hsl(79, 57%, 100%), hsl(53, 1%, 77%));
}
